WindowsSource/Win/Service References/DataSyncService/DataSynchronizer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsBranchExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBranchExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBranchExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeadOfficeMailAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeadOfficeMailAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHeadOfficeMailAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchMailAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchMailAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBranchMailAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBranchDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchDetailsByCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchDetailsByCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBranchDetailsByCredentialsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherAmendments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherAmendmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVoucherAmendmentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMasterDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTDSMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTDSMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTDSMasterDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMismatchedProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtBOProjects" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMismatchedProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMismatchedProjectsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMismatchedLedgers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtBOLedgers" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMismatchedLedgersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMismatchedLedgersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportDatatoPortalExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFrom" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExportDatatoPortalExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExportDatatoPortalExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vouchers" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadVoucherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDsyncStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UploadedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDsyncStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDsyncStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeadOfficeMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeadOfficeMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHeadOfficeMessagesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtTicket" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLatestLicenseAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtCurrentLicenseDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLatestLicenseAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLatestLicenseAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcmeERPProductVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcmeERPProductVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAcmeERPProductVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentServerDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentServerDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentServerDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLockVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HeadOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchOfficeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLockVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLockVoucherResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLockVoucherGraceDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HeadOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchOfficeLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLockVoucherGraceDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLockVoucherGraceDaysResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovedBudgetsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="budgettypeId" type="xs:int" />
        <xs:element minOccurs="0" name="dtBudgetBOProjects" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovedBudgetsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApprovedBudgetsDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBudgetsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dsBudgetDetails" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sendMail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBudgetsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadBudgetsDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranchLoggedHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HeadOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchOfficeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HeadOfficeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoggedDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LicenseKeyNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranchLoggedHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBranchLoggedHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubLedgerVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HeadOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FrmDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtSubLedgerVouchers" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubLedgerVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSubLedgerVouchersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectClosedDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectcloseddate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectClosedDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProjectClosedDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLocalCommunityKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licensekey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hocode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bocode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientmacaddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localcommunityuser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLocalCommunityKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestLocalCommunityKeyResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalCommunityReceiptModuleRightStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licensekey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hocode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bocode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientmacaddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalCommunityReceiptModuleRightStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLocalCommunityReceiptModuleRightStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckVouchersInOtherProjectsOrDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="headOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckVouchersInOtherProjectsOrDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckVouchersInOtherProjectsOrDatesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>