WindowsSource/AcMEService/Service References/SSPAcmeIntegration/SSPAcmeintegration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMasters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ManagementCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MasterDetails" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMastersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMastersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetTrasnsactionDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ManagementCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MasterDetails" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrasnsactionDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrasnsactionDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTransactionDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ManagementCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionDetails" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTransactionDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTransactionDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMastersSoapIn">
    <wsdl:part name="parameters" element="tns:GetMasters" />
  </wsdl:message>
  <wsdl:message name="GetMastersSoapOut">
    <wsdl:part name="parameters" element="tns:GetMastersResponse" />
  </wsdl:message>
  <wsdl:message name="GetMastersAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetTrasnsactionDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrasnsactionDetails" />
  </wsdl:message>
  <wsdl:message name="GetTrasnsactionDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrasnsactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrasnsactionDetailsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTransactionDetails" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTransactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionDetailsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetMastersHttpGetIn">
    <wsdl:part name="ManagementCode" type="s:string" />
    <wsdl:part name="MasterDetails" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMastersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTrasnsactionDetailsHttpGetIn">
    <wsdl:part name="ManagementCode" type="s:string" />
    <wsdl:part name="Date" type="s:string" />
    <wsdl:part name="MasterDetails" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTrasnsactionDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionDetailsHttpGetIn">
    <wsdl:part name="ManagementCode" type="s:string" />
    <wsdl:part name="TransactionDetails" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMastersHttpPostIn">
    <wsdl:part name="ManagementCode" type="s:string" />
    <wsdl:part name="MasterDetails" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMastersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTrasnsactionDetailsHttpPostIn">
    <wsdl:part name="ManagementCode" type="s:string" />
    <wsdl:part name="Date" type="s:string" />
    <wsdl:part name="MasterDetails" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTrasnsactionDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionDetailsHttpPostIn">
    <wsdl:part name="ManagementCode" type="s:string" />
    <wsdl:part name="TransactionDetails" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SSPAcmeIntegrationSoap">
    <wsdl:operation name="GetMasters">
      <wsdl:input message="tns:GetMastersSoapIn" />
      <wsdl:output message="tns:GetMastersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasnsactionDetails">
      <wsdl:input message="tns:GetTrasnsactionDetailsSoapIn" />
      <wsdl:output message="tns:GetTrasnsactionDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionDetails">
      <wsdl:input message="tns:UpdateTransactionDetailsSoapIn" />
      <wsdl:output message="tns:UpdateTransactionDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SSPAcmeIntegrationHttpGet">
    <wsdl:operation name="GetMasters">
      <wsdl:input message="tns:GetMastersHttpGetIn" />
      <wsdl:output message="tns:GetMastersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasnsactionDetails">
      <wsdl:input message="tns:GetTrasnsactionDetailsHttpGetIn" />
      <wsdl:output message="tns:GetTrasnsactionDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionDetails">
      <wsdl:input message="tns:UpdateTransactionDetailsHttpGetIn" />
      <wsdl:output message="tns:UpdateTransactionDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SSPAcmeIntegrationHttpPost">
    <wsdl:operation name="GetMasters">
      <wsdl:input message="tns:GetMastersHttpPostIn" />
      <wsdl:output message="tns:GetMastersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasnsactionDetails">
      <wsdl:input message="tns:GetTrasnsactionDetailsHttpPostIn" />
      <wsdl:output message="tns:GetTrasnsactionDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionDetails">
      <wsdl:input message="tns:UpdateTransactionDetailsHttpPostIn" />
      <wsdl:output message="tns:UpdateTransactionDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSPAcmeIntegrationSoap" type="tns:SSPAcmeIntegrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasters">
      <soap:operation soapAction="http://tempuri.org/GetMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMastersAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasnsactionDetails">
      <soap:operation soapAction="http://tempuri.org/GetTrasnsactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTrasnsactionDetailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionDetails">
      <soap:operation soapAction="http://tempuri.org/UpdateTransactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateTransactionDetailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSPAcmeIntegrationSoap12" type="tns:SSPAcmeIntegrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasters">
      <soap12:operation soapAction="http://tempuri.org/GetMasters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMastersAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasnsactionDetails">
      <soap12:operation soapAction="http://tempuri.org/GetTrasnsactionDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTrasnsactionDetailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionDetails">
      <soap12:operation soapAction="http://tempuri.org/UpdateTransactionDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateTransactionDetailsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSPAcmeIntegrationHttpGet" type="tns:SSPAcmeIntegrationHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetMasters">
      <http:operation location="/GetMasters" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasnsactionDetails">
      <http:operation location="/GetTrasnsactionDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionDetails">
      <http:operation location="/UpdateTransactionDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSPAcmeIntegrationHttpPost" type="tns:SSPAcmeIntegrationHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetMasters">
      <http:operation location="/GetMasters" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasnsactionDetails">
      <http:operation location="/GetTrasnsactionDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionDetails">
      <http:operation location="/UpdateTransactionDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSPAcmeIntegration">
    <wsdl:port name="SSPAcmeIntegrationSoap" binding="tns:SSPAcmeIntegrationSoap">
      <soap:address location="https://test.smartschoolplus.co.in/Webservice/SSPAcmeintegration.asmx" />
    </wsdl:port>
    <wsdl:port name="SSPAcmeIntegrationSoap12" binding="tns:SSPAcmeIntegrationSoap12">
      <soap12:address location="https://test.smartschoolplus.co.in/Webservice/SSPAcmeintegration.asmx" />
    </wsdl:port>
    <wsdl:port name="SSPAcmeIntegrationHttpGet" binding="tns:SSPAcmeIntegrationHttpGet">
      <http:address location="https://test.smartschoolplus.co.in/Webservice/SSPAcmeintegration.asmx" />
    </wsdl:port>
    <wsdl:port name="SSPAcmeIntegrationHttpPost" binding="tns:SSPAcmeIntegrationHttpPost">
      <http:address location="https://test.smartschoolplus.co.in/Webservice/SSPAcmeintegration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>